@use 'body' as *;
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Poppins:wght@300;400;500;700&display=swap');

// *********************************************************** MY CSS
body {
  font-family: 'Poppins', sans-serif;
  color: #484E51;
  background-color: #F9F9F9;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  @media (min-width: func-container(sm)) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.6em;
}


.about, .posts, .cardapio, .info, .testimonials {
  &__title {
    text-align: center;
    span {
      font-family: 'Lora', serif;
    }
    h2 {
      font-family: 'Lora', serif;
      font-weight: 500;
      font-size: 1.8em;
      color: #282828;
      margin-top: 0.5rem;
      @media (min-width: func-container(sm)) {
        font-size: 2.7em;
      }
      &::after {
        content: "......";
        display: block;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.2em;
        margin-bottom: 1rem;
      }
    }
  }
}

.posts__item, .header__container, .cardapio__footer {
  a {
    border: 0.0625rem solid #282828;
    border-radius: 1000rem;
    padding: 0.5rem 1.5rem;
    font-size: 0.6em;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    &:hover {
      background-color: #282828;
      color: #FFFFFF;
    }
  }
}

.info__title {
  div {
    font-size: 2em  ;
    color: #FFFFFF;
    border: 0.0625rem solid #FFFFFF;
    align-self: center;
    border-radius: 50%;
    margin-top: 1.5rem;
    &:hover {
      background-color: #FFFFFF;
      color: #282828;
    }
    i {
      padding: 1rem;
    }
  }
}


.menu {
  background-color: #282828;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  &__container {
    @include func-row(g-xl);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    img {
      max-width: 5rem;
      opacity: 0.2;
      &:hover {
        opacity: 1;
      }
    }
  }
  &__options {
    flex-direction: row;
    align-items: center;
    color: #696969;
    i {
      font-size: 1.2em;
      padding: 0.2rem;
      &:hover {
        color: #FFFFFF;
      }
    }
  }
  &__links {
    @include comp-menu-colapse-sidebar;
  }
  .menu-colapse-icon {
    font-family: 'Lora', serif;
    margin-left: 1rem;
    padding-bottom: 0.1rem;
    &:hover {
      color: #FFFFFF;
    }
  }
}

.menu-colapse-content {
  background-color: #282828 !important;
  flex-direction: column;
  text-align: center;

  color: #696969;
  font-size: 1.5em;
  ul {
    margin-bottom: 1.5rem;
  }
  li {
    padding: 0.5rem;
  }
  li:hover {
    color: #FFFFFF;
  }
  p {
    font-size: 0.6em;
  }
  div {
    flex-direction: row;
    justify-content: center;
    //margin-top: 1rem;
    div {
      border: 0.0625rem solid #696969;
      border-radius: 50%;
      margin: 1.5rem 0.3rem 0 0.3rem;
      &:hover {
        background-color: #696969;
        color: #282828;
      }
    }
    i {
      padding: 0.5rem;
    }
  }
}


.header {
  background-image: url("../img/dm22__image_01-min.jpg");
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  &__container {
    @include func-row(g-md);
    height: 100vh;
    justify-content: center;
    img {
      max-width: 6rem;
      margin: 0 auto;
    }
    h1 {
      font-family: 'Lora', serif;
      font-size: 2.5em;
      margin-top: 1.5rem;
      @media (min-width: func-container(sm)) {
        font-size: 3em;
      }
      &::after {
        content: "......";
        display: block;
        font-size: 0.3em;
        font-weight: 400;
        letter-spacing: 0.2em;
        margin-bottom: 1rem;
      }
    }
    p {
      font-family: 'Lora', serif;
      font-weight: 400;
      margin-bottom: 1.5rem;
      line-height: 1.5em;
      font-size: 0.9rem;
      opacity: 0.7;
      @media (min-width: func-container(sm)) {
        font-size: 1.1rem;
      }
    }
    a {
      border: 0.0625rem solid #FFFFFF;
      align-self: center;
      &:hover {
        background-color: #FFFFFF;
        color: #282828;
      }
    }
    i {
      @include comp-scroll-down;
      position: absolute;
      bottom: 2rem;
      left: calc(50% - 12px);
      font-size: 1.5em;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}


.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../img/dm22__image_15-min.jpg");
  background-size: cover;
  &__container {
    @include func-row(g-xl);
    @media (min-width: func-container(md)) {
      flex-direction: row;
    }
  }
  img {
    @include func-col(md-6);
  }
  &__title {
    @include func-col(md-6);
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    @media (min-width: func-container(md)) {
      text-align: left;
      padding-left: 2rem;
      margin-top: 0;
    }
  }
}


.posts {
  &__title {
    @include func-row(g-sm);
  }
  &__body {
    @include func-row(g-xl);
    @include func-clear-col((md, 3n));
    @media(min-width: func-container(md)) {
      flex-direction: row;
    }
  }
  &__item {
    @include func-col(md-gutters-4);
    margin-top: 3rem;
    &:hover img {
      transform: scale(1.05, 1.05);
    }
    > p {
      padding: 1rem;
    }
    a {
      margin-left: 1rem;
      align-self: flex-start;
    }
  }
  &__img {
    position: relative;
    img {
      transition: transform 0.5s;
      max-height: 20rem;
    }
    div {
      position: absolute;
      width: 100%;
      padding: 3rem 1rem 1rem 1rem;
      bottom: 0;
      color: #FFFFFF;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
      span {
        font-family: 'Lora', serif;
        font-size: 1.4em;
      }
      p {
        opacity: 0.7;
      }
    }
  }
}


.info {
  background-image: url("../img/dm22__image_07-min-1.jpg");
  background-size: cover;
  padding-bottom: 13.5rem;
  &__title {
    @include func-row(g-md);
    h2, span, p {
      color: #FFFFFF;
    }
  }
}


.cardapio {
  margin-top: -15rem;
  &__container {
    @include func-row(g-xl);
    background-color: #FFFFFF;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);
  }
  &__title {
    @include func-row(g-sm);
    margin-top: 6rem;
  }
  &__body {
    @include func-row(g-xl);
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  &__tab {
    @include comp-tab(line);
    @include func-col(sm-12);
    align-items: center;
    margin: 0 0 2rem 0;
  }
  &__footer {
    text-align: center;
    margin-bottom: 4rem;
    a {
      align-self: center;
      margin-top: 1rem;
    }
  }
}


.testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../img/dm22__image_15-min.jpg");
  background-size: cover;
  &__title {
    @include func-row(g-sm);
  }
  &__tab {
    @include comp-tab(box);
    align-content: center;
    flex-direction: column-reverse;
  }
  &__link {
    justify-content: center;
    margin-top: 1rem;
    div {
      padding: 0.4rem !important;
      border-radius: 50% !important;
      border-right-width: 0.0625rem !important;
      border-left-width: 0.0625rem !important;
      margin: 0 0.2rem !important;
    }
  }
  &__content {
    @include func-col(sm-6);
    text-align: center;
    p {
      margin: 1rem 0;
      position: relative;
      padding: 0 3rem;
      &::before, &::after {
        font-family: 'Lora', serif;
        font-size: 7em;
        color: #BCBCBC;
        position: absolute;
      }
      &::before {
        content: '\201C';
        top: 0; 
        left: 0;
      }
      &::after {
        content: '\201D';
        bottom: -3rem;
        right: 0;
      }
    }
    img {
      width: 5rem;
      margin: 0 auto;
      border-radius: 50%;
    }
    span {
      font-family: 'Lora', serif;
    }
  }
}


.footer {
  background-color: #303030;
  padding-top: 3rem;
  padding-bottom: 3rem;
  &__container {
    @include func-row(g-xl);
    flex-direction: row;
    color: #696969;
  }
  &__about, &__contact, &__comments, &__posts {
    @include func-col(sm-6, lg-3);
    margin-bottom: 2.5rem;
    @media (max-width: func-container(sm) - 1px) {
      width: 100%;
    }
    @media (min-width: func-container(sm)) {
      padding-right: 2rem;
    }
    @media (min-width: func-container(lg)) {
      margin-bottom: 0;
    }
    h3 {
      font-family: 'Lora', serif;
      color: #BCBCBC;
      margin-bottom: 1.5rem;
    }
    li {
      margin-bottom: 0.5rem;
      font-weight: 500;
      font-size: 0.85em;
      a {
        color: #BCBCBC;
        &:hover {
          color: #FFFFFF;
          text-decoration: underline;
        }
      }
    }
  }
  &__contact {
    div {
      flex-direction: row;
      div {
        border: 0.0625rem solid #404040;
        border-radius: 50%;
        margin-right: 0.5rem;
        &:hover {
          background-color: #404040;
          color: #FFFFFF;
        }
      }
      i {
        font-size: 1.3em;
        padding: 0.5rem
      }
    }
  }
  &__posts {
    margin-bottom: 0;
  }
  &__about {
    img {
      max-width: 5rem;
      margin-bottom: 1.8rem;
      opacity: 0.2;
    }
    p {
      font-weight: 500;
      font-size: 0.85em;
    }
    input {
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: 0.0625rem solid #404040;
      padding: 0.75rem 0;
      color: #BCBCBC;
      &:hover, &:focus {
        border-color: #BCBCBC;
      }
      &::placeholder {
        color: #404040;
      }
    }
    button {
      font-family: 'Lora', serif;
      border: 0.0625rem solid #404040;
      border-radius: 1000rem;
      background-color: transparent;
      color: #BCBCBC;
      padding: 0.75rem 1rem;
      margin-top: 0.75rem;
      &:hover {
        background-color: #404040;
        color: #FFFFFF;
      }
    }
  }
  &__copy {
    width: 100%;
    font-size: 0.85em;
    border-top: 0.0625rem solid #404040;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    @media (min-width: func-container(md)) {
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
    }
    a {
      text-decoration: underline;
      &:hover {
        color: #FFFFFF;
      }
    }
  }
}


// *********************************************************** VARIAVEIS JS
@include func-extend-components($func-extend-components);
@if $comp-menu-colapse-used { body { @extend %menu-colapse-sidebar; } }