@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Poppins:wght@300;400;500;700&display=swap");
/* ********************************************* RESET */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header, nav, aside, section,
article, main, div, footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, pre,
ul, ol, li, dl, dt, dd, blockquote,
a, span {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  list-style: none;
  text-decoration: inherit;
}

table, thead, tbody, tfoot,
tr, th, td {
  text-align: initial;
  border-collapse: collapse;
  padding: 0;
  border: none;
}

img {
  width: 100%;
  object-fit: cover;
}

/* ********************************************* SCREEN-READERS */
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hide-focusable:active, .hide-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

/* **************************************************************** CONTAINER */
.posts__title, .cardapio__title, .testimonials__title, .form__title, .header__container, .info__title, .form__content, .menu__container, .about__container, .posts__body, .cardapio__container, .footer__container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 576px) {
  .posts__title, .cardapio__title, .testimonials__title, .form__title, .header__container, .info__title, .form__content, .menu__container, .about__container, .posts__body, .cardapio__container, .footer__container {
    width: 540px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .header__container, .info__title, .form__content, .menu__container, .about__container, .posts__body, .cardapio__container, .footer__container {
    width: 720px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 960px) {
  .form__content, .menu__container, .about__container, .posts__body, .cardapio__container, .footer__container {
    width: 920px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .menu__container, .about__container, .posts__body, .cardapio__container, .footer__container {
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
/* **************************************************************** GRID */
@media (min-width: 576px) {
  .testimonials__content, .footer__about, .footer__contact, .footer__comments, .footer__posts {
    width: calc(100% / 12 * 6);
  }
}
@media (min-width: 768px) {
  .posts__item {
    width: calc(100% / 12 * 4 - 1rem * 8 / 12);
    margin-right: calc(1rem);
  }

  .about img, .about__title {
    width: calc(100% / 12 * 6);
  }
}
@media (min-width: 960px) {
  .footer__about, .footer__contact, .footer__comments, .footer__posts {
    width: calc(100% / 12 * 3);
  }
}
/* **************************************************************** TAB */
.cardapio__tab > *, .testimonials__tab > * {
  color: #282828;
}
.cardapio__tab > :nth-child(1), .testimonials__tab > :nth-child(1) {
  flex-direction: row;
}
.cardapio__tab > :nth-child(1) > *, .testimonials__tab > :nth-child(1) > * {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}
.cardapio__tab > :nth-child(1) > * :nth-child(2), .testimonials__tab > :nth-child(1) > * :nth-child(2) {
  margin-left: 0.3rem;
}
.cardapio__tab > :nth-child(2), .testimonials__tab > :nth-child(2) {
  padding: 0.5rem 1rem;
}

.cardapio__tab > :nth-child(1)::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.0625rem;
  position: relative;
  bottom: 0.0625rem;
  background-color: #BCBCBC;
  z-index: -1;
}
.cardapio__tab > :nth-child(1) > * {
  border-bottom: 0.0625rem solid #BCBCBC;
}
.cardapio__tab > :nth-child(1) > *:hover {
  border-bottom-color: #282828;
}
.cardapio__tab > :nth-child(1) > *[data-active] {
  color: #282828;
  border-bottom-color: #282828;
}

.testimonials__tab > :nth-child(1) > :first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
.testimonials__tab > :nth-child(1) > :last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
.testimonials__tab > :nth-child(1) > * {
  border: 0.0625rem solid #BCBCBC;
  border-right-width: 0;
}
.testimonials__tab > :nth-child(1) > *:last-child {
  border-right-width: 0.0625rem;
}
.testimonials__tab > :nth-child(1) > *:hover {
  background-color: #FFFFFF;
}
.testimonials__tab > :nth-child(1) > *[data-active] {
  color: #FFFFFF;
  background-color: #282828;
  border-color: #282828;
}
.testimonials__tab > :nth-child(1) > *[data-active] + * {
  border-left-width: 0;
}

/* **************************************************************** ACCORDION */
/* **************************************************************** CAROUSEL */
/* ********************************************* MENU */
body .menu-colapse-icon::after {
  content: "≡";
  font-size: 2em;
}
body .menu-colapse-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9;
}
body .menu-colapse-close {
  position: absolute;
  top: 0;
  right: 0;
}
body .menu-colapse-close::after {
  content: "✖";
  padding: 1rem;
}
body .menu-colapse-content {
  position: fixed;
  background-color: #FFFFFF;
  z-index: 10;
  padding: 1rem;
  padding-top: 3rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}
body .menu-colapse-content::-webkit-scrollbar {
  width: 0px;
}
body .menu-colapse-content.menu-side-right {
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
body .menu-colapse-content.menu-side-left {
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
}
body .menu-colapse-content.menu-side-top {
  top: 0;
  left: 0;
  height: 40%;
  width: 100%;
}
body .menu-colapse-content.menu-side-bottom {
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
}

/* **************************************************************** TOOLTIPS */
/* **************************************************************** MODAL */
body {
  font-family: "Poppins", sans-serif;
  color: #696969;
  background-color: #F9F9F9;
}

div, i, button, a, p {
  transition-duration: 0.5s;
  transition-property: color, background-color, opacity;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 576px) {
  section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.6em;
}

.about__title, .posts__title, .cardapio__title, .info__title, .testimonials__title, .form__title {
  text-align: center;
}
.about__title span, .posts__title span, .cardapio__title span, .info__title span, .testimonials__title span, .form__title span {
  font-family: "Lora", serif;
}
.about__title h2, .posts__title h2, .cardapio__title h2, .info__title h2, .testimonials__title h2, .form__title h2 {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 1.8em;
  color: #282828;
  margin-top: 0.5rem;
}
@media (min-width: 576px) {
  .about__title h2, .posts__title h2, .cardapio__title h2, .info__title h2, .testimonials__title h2, .form__title h2 {
    font-size: 2.7em;
  }
}
.about__title h2::after, .posts__title h2::after, .cardapio__title h2::after, .info__title h2::after, .testimonials__title h2::after, .form__title h2::after {
  content: "......";
  display: block;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-bottom: 1rem;
}

.posts__item a, .header__container a, .cardapio__footer a {
  border: 0.0625rem solid #282828;
  border-radius: 1000rem;
  padding: 0.5rem 1.5rem;
  font-size: 0.6em;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.posts__item a:hover, .header__container a:hover, .cardapio__footer a:hover {
  background-color: #282828;
  color: #FFFFFF;
}

.info__title div {
  font-size: 2em;
  color: #FFFFFF;
  border: 0.0625rem solid #FFFFFF;
  align-self: center;
  border-radius: 50%;
  margin-top: 1.5rem;
}
.info__title div:hover {
  background-color: #FFFFFF;
  color: #282828;
}
.info__title div i {
  padding: 1rem;
}

.menu {
  background-color: #282828;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}
.menu__container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__logo p {
  font-family: "Lora", serif;
  font-size: 1.2em;
  color: #696969;
  font-variant: small-caps;
  letter-spacing: 0.2em;
}
.menu__logo p:hover {
  color: #FFFFFF;
}
.menu__options {
  flex-direction: row;
  align-items: center;
  color: #696969;
}
.menu__options i {
  font-size: 1.2em;
  padding: 0.2rem;
}
.menu__options i:hover {
  color: #FFFFFF;
}
@media (max-width: 100000px) {
  .menu__links > *:first-child {
    display: none;
  }
}
@media (min-width: 100000px) {
  .menu__links > *:last-child {
    display: none;
  }
}
.menu .menu-colapse-icon {
  font-family: "Lora", serif;
  margin-left: 1rem;
  padding-bottom: 0.1rem;
}
.menu .menu-colapse-icon:hover {
  color: #FFFFFF;
}

.menu-colapse-content {
  background-color: #282828 !important;
  flex-direction: column;
  text-align: center;
  color: #696969;
  font-size: 1.5em;
}
.menu-colapse-content ul {
  margin-bottom: 1.5rem;
}
.menu-colapse-content li {
  padding: 0.5rem;
}
.menu-colapse-content li:hover {
  color: #FFFFFF;
}
.menu-colapse-content p {
  font-size: 0.6em;
}
.menu-colapse-content div {
  flex-direction: row;
  justify-content: center;
}
.menu-colapse-content div div {
  border: 0.0625rem solid #696969;
  border-radius: 50%;
  margin: 1.5rem 0.3rem 0 0.3rem;
}
.menu-colapse-content div div:hover {
  background-color: #696969;
  color: #282828;
}
.menu-colapse-content div i {
  padding: 0.5rem;
}

.header {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  text-align: center;
}
.header__container {
  height: 100vh;
  justify-content: center;
}
.header__container h1 {
  font-family: "Lora", serif;
  font-size: 2.5em;
  margin-top: 1.5rem;
}
@media (min-width: 576px) {
  .header__container h1 {
    font-size: 3em;
  }
}
.header__container h1::after {
  content: "......";
  display: block;
  font-size: 0.3em;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-bottom: 1rem;
}
.header__container p {
  font-family: "Lora", serif;
  font-weight: 400;
  margin-bottom: 1.5rem;
  line-height: 1.5em;
  font-size: 0.9rem;
  opacity: 0.7;
}
@media (min-width: 576px) {
  .header__container p {
    font-size: 1.1rem;
  }
}
.header__container a {
  border: 0.0625rem solid #FFFFFF;
  align-self: center;
}
.header__container a:hover {
  background-color: #FFFFFF;
  color: #282828;
}
.header__container i {
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 12px);
  font-size: 1.5em;
  opacity: 0.5;
}
.header__container i:hover {
  opacity: 1;
}

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/background.jpg");
  background-size: cover;
}
@media (min-width: 768px) {
  .about__container {
    flex-direction: row;
  }
}
.about img {
  max-height: 500px;
}
.about__title {
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .about__title {
    text-align: left;
    padding-left: 2rem;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .posts__body > :nth-child(3n) {
    margin-right: 0;
  }
  .posts__body > :not(:nth-child(3n)) {
    margin-right: 1rem;
  }
}
@media (min-width: 768px) {
  .posts__body {
    flex-direction: row;
  }
}
.posts__item {
  margin-top: 3rem;
}
.posts__item:hover img {
  transform: scale(1.05, 1.05);
}
.posts__item > p {
  padding: 1rem;
}
.posts__item a {
  margin-left: 1rem;
  align-self: flex-start;
}
.posts__img {
  position: relative;
}
.posts__img img {
  transition: transform 0.5s;
  max-height: 20rem;
  object-position: bottom;
}
.posts__img div {
  position: absolute;
  width: 100%;
  padding: 3rem 1rem 1rem 1rem;
  bottom: 0;
  color: #FFFFFF;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.posts__img div span {
  font-family: "Lora", serif;
  font-size: 1.4em;
}
.posts__img div p {
  opacity: 0.7;
}

.info {
  background-image: url("../img/info.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 13.5rem;
}
.info__title h2, .info__title span, .info__title p {
  color: #FFFFFF;
}

.cardapio {
  margin-top: -15rem;
}
.cardapio__container {
  background-color: #FFFFFF;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);
}
.cardapio__title {
  margin-top: 6rem;
}
.cardapio__body {
  width: 100%;
  margin-top: 2rem;
  align-self: flex-start;
}
.cardapio__tab {
  width: 100%;
  align-items: center;
  margin: 0 0 1rem 0;
}
.cardapio__links {
  font-size: 0.8em;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .cardapio__links {
    margin-top: 0;
  }
}
.cardapio__content {
  width: 90%;
  margin: 0 auto;
  padding: 0 !important;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .cardapio__content {
    width: 70%;
  }
}
.cardapio__item {
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  align-items: center;
  text-align: center;
}
@media (min-width: 576px) {
  .cardapio__item {
    flex-direction: row;
    text-align: left;
  }
}
.cardapio__item img {
  width: 70px;
  height: 70px;
}
@media (min-width: 576px) {
  .cardapio__item > div {
    width: calc(100% - 86px);
    margin-left: 1rem;
  }
}
.cardapio__item > div div {
  flex-direction: row;
  display: block;
}
@media (min-width: 576px) {
  .cardapio__item > div div {
    justify-content: space-between;
    display: flex;
  }
}
.cardapio__item > div div span:nth-child(1) {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #282828;
  position: relative;
}
.cardapio__item > div div span:nth-child(1)::after {
  content: " ......";
  margin-left: 0.5rem;
}
@media (min-width: 576px) {
  .cardapio__item > div div span:nth-child(1)::after {
    content: " ........................................................................................................................";
    position: absolute;
  }
}
.cardapio__item > div div span:nth-child(2) {
  background-color: #FFFFFF;
  z-index: 1;
  padding-left: 0.5rem;
}
.cardapio__item > div > p {
  font-size: 0.8em;
}
.cardapio__footer {
  text-align: center;
  margin-bottom: 6rem;
}
.cardapio__footer a {
  align-self: center;
  margin-top: 1rem;
}

.testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/background.jpg");
  background-size: cover;
}
.testimonials__tab {
  align-items: center;
  flex-direction: column-reverse;
}
.testimonials__link {
  justify-content: center;
  margin-top: 1rem;
}
.testimonials__link div {
  padding: 0.4rem !important;
  border-radius: 50% !important;
  border-right-width: 0.0625rem !important;
  border-left-width: 0.0625rem !important;
  margin: 0 0.2rem !important;
}
.testimonials__content {
  text-align: center;
}
.testimonials__content p {
  margin: 1rem 0;
  position: relative;
  padding: 0 3rem;
}
.testimonials__content p::before, .testimonials__content p::after {
  font-family: "Lora", serif;
  font-size: 7em;
  color: #BCBCBC;
  position: absolute;
}
.testimonials__content p::before {
  content: "“";
  top: 0;
  left: 0;
}
.testimonials__content p::after {
  content: "”";
  bottom: -3rem;
  right: 0;
}
.testimonials__content > div > div {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  border-radius: 50%;
  align-content: center;
}
.testimonials__content > div > div img {
  width: 130%;
  align-self: center;
}
.testimonials__content span {
  font-family: "Lora", serif;
}

.form {
  background-image: url("../img/form.jpg");
  background-size: cover;
  background-position: center;
}
.form__title span, .form__title h2 {
  color: #FFFFFF;
}
.form__content form {
  display: flex;
  flex-direction: column;
}
.form__content div {
  flex-direction: row;
}
.form__content div input {
  width: 100%;
}
@media (min-width: 576px) {
  .form__content div input {
    margin: 0 0.5rem;
    width: calc(50% - 1rem);
  }
}
@media (min-width: 576px) {
  .form__content div:last-of-type input {
    width: calc(33.3333333% - 1rem);
  }
}
.form__content input {
  background-color: transparent;
  border: none;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.3);
  outline: none;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 1rem;
  color: white;
}
.form__content input:hover, .form__content input:focus {
  border-bottom: 0.0625rem solid white;
}
.form__content input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form__content button {
  border: 0.0625rem solid white;
  background-color: white;
  border-radius: 1000rem;
  padding: 0.5rem 1.5rem;
  font-size: 0.6em;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #282828;
  margin-top: 0.75rem;
  outline: none;
  transition: background-color 0.5s;
  cursor: pointer;
}
@media (min-width: 576px) {
  .form__content button {
    align-self: center;
  }
}

.footer {
  background-color: #282828;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
@media (min-width: 576px) {
  .footer {
    text-align: left;
  }
}
.footer__container {
  flex-direction: row;
}
.footer__about, .footer__contact, .footer__comments, .footer__posts {
  margin-bottom: 2.5rem;
}
@media (max-width: 575px) {
  .footer__about, .footer__contact, .footer__comments, .footer__posts {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .footer__about, .footer__contact, .footer__comments, .footer__posts {
    padding-right: 2rem;
  }
}
@media (min-width: 960px) {
  .footer__about, .footer__contact, .footer__comments, .footer__posts {
    margin-bottom: 0;
  }
}
.footer__about h3, .footer__contact h3, .footer__comments h3, .footer__posts h3 {
  font-family: "Lora", serif;
  color: #BCBCBC;
  margin-bottom: 1.5rem;
}
.footer__about li, .footer__contact li, .footer__comments li, .footer__posts li {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.85em;
}
.footer__about li a, .footer__contact li a, .footer__comments li a, .footer__posts li a {
  color: #BCBCBC;
}
.footer__about li a:hover, .footer__contact li a:hover, .footer__comments li a:hover, .footer__posts li a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.footer__contact > div {
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 576px) {
  .footer__contact > div {
    justify-content: flex-start;
  }
}
.footer__contact > div div {
  border: 0.0625rem solid #404040;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.footer__contact > div div:hover {
  background-color: #696969;
  border: 0.0625rem solid #696969;
  color: #282828;
}
.footer__contact > div i {
  font-size: 1.3em;
  padding: 0.5rem;
}
.footer__posts {
  margin-bottom: 0;
}
.footer__about p {
  font-weight: 500;
  font-size: 0.85em;
}
.footer__about input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 0.0625rem solid #404040;
  padding: 0.75rem 0;
  color: #BCBCBC;
  text-align: center;
}
@media (min-width: 576px) {
  .footer__about input {
    text-align: left;
  }
}
.footer__about input:hover, .footer__about input:focus {
  border-color: #BCBCBC;
}
.footer__about input::placeholder {
  color: #404040;
}
.footer__about button {
  font-family: "Lora", serif;
  border: 0.0625rem solid #404040;
  border-radius: 1000rem;
  background-color: transparent;
  color: #BCBCBC;
  padding: 0.75rem 1rem;
  margin-top: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 0.65em;
}
.footer__about button:hover {
  background-color: #696969;
  color: #282828;
  border: 0.0625rem solid #696969;
}
.footer__copy {
  width: 100%;
  font-size: 0.85em;
  border-top: 0.0625rem solid #404040;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__copy {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__copy a {
  text-decoration: underline;
}
.footer__copy a:hover {
  color: #FFFFFF;
}

/* ********************************************* COMPONENT NAMES */
:root {
  --menu-colapse-sidebar: .menu__links;
}

:root {
  --menu-colapse-sidebar-options: 100000px right;
}

:root {
  --scroll-down: .header__container i;
}

:root {
  --scroll-down-options: 0;
}

:root {
  --tab: .cardapio__tab, .testimonials__tab;
}

/*# sourceMappingURL=style.css.map */
